body {
  font-family: "Poppins";
  margin: 0;
}

div{
	border:0px solid black;
}

.header{
	background-color:#5bd7d7;
	text-align:center;
	font-size:5vw;
	color:#155151;
	font-family: cursive;
}

.nav-main{
	height:auto;
	background-color:#ffcccc;
	text-align:center;
	position:relative;
}

.nav{
	background-color:#ffcccc;
	position:absolute;
	border:0px solid black;
	left:0;
	right:0;
	margin:auto;
	font-size:20px;
}

.content{
	width:80%;
	height:60vh;
	border: 0px solid black;
	margin:auto;
	padding-top:40px;
}

.footer{
	background-color:#ffdab3;
	text-align:center;
}

.column-left{
	width:20%;
	float:left;
	
}

.column-right{
	width:80%;
	float:left;
}

.row:after{
	clear:both;
}

.nav-left{
	width:95%;
	height:50vh;
	border:2px solid black;
	border-style:dashed;
}

.nav-right{
	width:95%;
	height:50vh;
	border:2px solid black;
	border-style:dashed;
}

a.nav-style:hover{
	background-color:#ff8080;
}

a.nav-style:link{
	color:black;
	text-decoration:none;
}

